@model Ecommerce.Models.Usuario
<div>
    @using (Html.BeginForm("CadastrarUsuario", "Usuario", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
    <fieldset>
        <legend>Cadastro de Usuário</legend>
        @Html.ValidationSummary(true, null, new { @class = "text-danger" })

        <h2>Dados Pessoais</h2>

        <div class="form-group">
            @Html.LabelFor(model => model.NomeUsuario, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.NomeUsuario, new { @class = "form-control", @placeholder = "Nome do cliente" })
                @Html.ValidationMessageFor(model => model.NomeUsuario, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EnderecoUsuario, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.EnderecoUsuario, new { @class = "form-control", @placeholder = "Endereço do cliente" })
                @Html.ValidationMessageFor(model => model.EnderecoUsuario, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TelefoneUsuario, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.TelefoneUsuario, new { @class = "form-control", @placeholder = "Telefone do cliente" })
                @Html.ValidationMessageFor(model => model.TelefoneUsuario, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmailUsuario, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.EmailUsuario, new { @class = "form-control", @placeholder = "E-mail do cliente", @type = "email" })
                @Html.ValidationMessageFor(model => model.EmailUsuario, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SenhaUsuario, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.SenhaUsuario, new { @class = "form-control", @placeholder = "Senha do cliente", @type = "password" })
                @Html.ValidationMessageFor(model => model.SenhaUsuario, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cep, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.cep, new { @class = "form-control", @placeholder = "CEP" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Buscar" class="btn btn-primary" formaction="PesquisarCep" formmethod="post"/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.logradouro, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.logradouro, new { @class = "form-control", @placeholder = "Endereço", @readonly = "" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bairro, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.bairro, new { @class = "form-control", @placeholder = "Bairro", @readonly = "" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.localidade, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.localidade, new { @class = "form-control", @placeholder = "Cidade", @readonly = "" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.uf, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.uf, new { @class = "form-control", @placeholder = "Estado", @readonly = "" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Cadastrar" class="btn btn-success" />
            </div>
        </div>

    </fieldset>
    }
</div>
