@model Ecommerce.Models.Usuario
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div>
    @using (Html.BeginForm("Logar", "Usuario", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <fieldset>
            <legend>Login</legend>

            @Html.ValidationSummary(true, null, new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.EmailUsuario, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.EmailUsuario, new { @class = "form-control", @placeholder = "E-mail" })
                    @Html.ValidationMessageFor(model => Model.EmailUsuario, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SenhaUsuario, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.SenhaUsuario, new { @class = "form-control", @placeholder = "Senha", @type = "password" })
                    @Html.ValidationMessageFor(model => model.SenhaUsuario, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="Entrar" class="btn btn-primary" />
                </div>
            </div>

        </fieldset>
    }
</div>
