@using Ecommerce.Models
@{
    Produto produto = ViewBag.Produto;
}

<div>
    <h1>Alterar Produto</h1>
    @using (Html.BeginForm())
    {
        @Html.Hidden("txtId", produto.ProdutoId)
        @Html.TextBox("txtId2", produto.ProdutoId, new { @disabled = "" })<br>

        @Html.Label("Nome do produto")
        @Html.TextBox("txtNome", produto.Nome)<br>

        @Html.Label("Descrição do produto")
        @Html.TextBox("txtDescricao", produto.Descricao)<br>

        @Html.Label("Categoria do produto")
        @Html.TextBox("txtCategoria", produto.Categoria)<br>

        @Html.Label("Preço do produto")
        @Html.TextBox("txtPreco", produto.Preco)<br>

        <input type="submit" value="Salvar Alterações" />
    }
</div>

