
@{
    DateTime data = ViewBag.Data;
    List<Ecommerce.Models.Produto> produtos = ViewBag.Produtos;
}

<div>
    <h1>Gerenciamento de Produtos</h1>
    @*<a href="~/Views/Produto/Cadastrar"> Cadastrar Produto </a>*@

    @* Link em MVC | Razor *@
    @Html.ActionLink("Cadastrar Produto", "CadastrarProduto", "Produto")

    <table class="table table-hover table-striped" style="margin-top:30px">

        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>Preço</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (Ecommerce.Models.Produto p in produtos)
        {
            <tr>
                <td>@p.Nome</td>
                <td>@p.Descricao</td>
                <td>@p.Categoria</td>
                <td>@p.Preco</td>
                <td>@Html.ActionLink("Remover", "RemoverProduto", "Produto", new { id = p.ProdutoId }, null)</td>
                <td>@Html.ActionLink("Alterar", "AlterarProduto", "Produto", new { id = p.ProdutoId }, null)</td>
            </tr>
        }
    </table>

    <p>
        Dados atualizados às: <b>@data</b>
    </p>
    </p>

</div>